<!doctype html>
<html>
  <head>
  </head>
  <body>
    <form method="post" action="/people/<%= person.id %>?_method=put">
      <input type="text" name="person[firstname]" value="<%= person.firstname %>"><br>

      <input type="text" name="person[lastname]" value="<%= person.lastname %>"><br>
      <button>SAVE</button>
    </form>
  </body>
</html>