<!doctype html>
<html>
  <head>
  </head>
  <body>
    People Index

    <% people.forEach(function(person){ %>
      <h2> <%= person.firstname %> </h2>
      <p> this is person <%= person.id %> </p>
      <form method="post" action="/people/<%= person.id %>?_method=delete">
          <button>Delete</button>
      </form> 
    <% }) %>
  </body>
</html>