<!doctype html>
<html>
  <head>
  </head>
  <body>
    <form method="post" action="/people">
      <input type="text" name="person[firstname]" placeholder="firstname"><br>
      <input type="text" name="person[lastname]" placeholder="lastname"><br>
      <button>SAVE</button>
    </form>
  </body>
</html>